In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.DataFrame({
    "a": [1, 23, 232, 434],
    "b": [12, 21, 32, 3223]
})

df

     a     b
0    1    12
1   23    21
2  232    32
3  434  3223

In [7]:
random_data = np.random.randn(2, 10)

df = pd.DataFrame(random_data)
df.index = ["A", "B"]
df.columns = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df

,a,b,c,d,e,f,g,h,i,j
A,-1.196773,-0.407566,-1.215863,1.244275,0.240763,0.580641,-0.712638,1.976166,0.244861,-0.933319
B,-1.143998,0.710894,-1.941328,1.399742,0.843274,-0.122751,0.332387,2.148785,0.798465,0.126497